In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np 

# read the csv file of the climate stations.  
df = pd.read_csv("climate_station_list.csv")
df

                Station Name          Province  Latitude  Longitude
0            (AE) BOW SUMMIT           ALBERTA     51.70    -116.47
1             100 MILE HOUSE  BRITISH COLUMBIA     51.65    -121.30
2             100 MILE HOUSE  BRITISH COLUMBIA     51.65    -121.27
3         100 MILE HOUSE 6NE  BRITISH COLUMBIA     51.68    -121.22
4             108 MILE HOUSE  BRITISH COLUMBIA     51.75    -121.33
...                      ...               ...       ...        ...
8442  ZEBALLOS MURAUDE CREEK  BRITISH COLUMBIA     50.05    -126.78
8443                  ZEHNER      SASKATCHEWAN     50.63    -104.40
8444                   ZELMA      SASKATCHEWAN     51.80    -105.93
8445                   ZHODA          MANITOBA     49.25     -96.52
8446                  ZURICH           ONTARIO     43.40     -81.60

[8447 rows x 4 columns]

In [2]:
#which province has a station!  
province = df["Province"].values.ravel()
province_uniq = pd.unique(province)
province_uniq

array(['ALBERTA', 'BRITISH COLUMBIA', 'NEWFOUNDLAND', 'SASKATCHEWAN',
       'QUEBEC', 'NOVA SCOTIA', 'ONTARIO', 'NEW BRUNSWICK',
       'YUKON TERRITORY', 'NORTHWEST TERRITORIES', 'PRINCE EDWARD ISLAND',
       'NUNAVUT', 'MANITOBA'], dtype=object)

In [3]:
# Number of stations in each province 
number_station = df['Province'].value_counts()
number_station
number_station.to_csv('station_summery.csv')

In [4]:
# Lets see how is the weather data for the Aug  2021. 
Aug =  pd.read_csv("Aug-2021.csv")
Aug

,Long,Lat,Stn_Name,Clim_ID,Prov,Tm,DwTm,D,Tx,DwTx,...,P,DwP,P%N,S_G,Pd,BS,DwBS,BS%,HDD,CDD
0,-123.742,48.935,CHEMAINUS,1011500,BC,20.2,0.0,NaN,36.0,0.0,...,5.7,0.0,NaN,0.0,2.0,NaN,NaN,NaN,10.0,78.6
1,-124.052,48.829,LAKE COWICHAN,1012055,BC,16.4,21.0,-1.7,39.0,14.0,...,5.8,27.0,NaN,NaN,3.0,NaN,NaN,NaN,20.9,4.6
2,-123.226,48.425,DISCOVERY ISLAND,1012475,BC,15.9,0.0,NaN,28.3,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.4,8.5
3,-123.439,48.432,ESQUIMALT HARBOUR,1012710,BC,16.8,0.0,NaN,27.4,0.0,...,5.2,0.0,NaN,NaN,1.0,NaN,NaN,NaN,52.9,14.3
4,-123.530,48.575,MALAHAT,1014820,BC,19.5,0.0,NaN,37.0,0.0,...,5.8,0.0,NaN,NaN,2.0,NaN,NaN,NaN,29.0,75.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1235,-55.848,52.303,MARY'S HARBOUR A,8502592,NL,15.9,0.0,NaN,31.8,0.0,...,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,91.3,27.6
1236,-61.683,56.550,NAIN,8502799,NL,13.2,3.0,NaN,30.5,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139.5,5.9
1237,-61.682,56.551,NAIN A,8502810,NL,12.4,3.0,NaN,26.5,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156.9,0.9
1238,-62.586,58.483,SAGLEK,8503249,NL,10.6,18.0,NaN,24.7,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.1,1.2
1239,-66.865,52.923,WABUSH A,8504177,NL,14.9,1.0,NaN,28.6,1.0,...,133.2,3.0,NaN,NaN,15.0,NaN,NaN,NaN,107.6,13.5

In [5]:
# Drop unnecessary columns some of them weired to me! Need to know more about Meteorology. 
# keep Long, Lat, Stn_name, Prov,Tx as maximum tempreture, Tn: Min tempreture, and P: precipitation rate.
clean_Aug = Aug.drop(Aug.columns.difference(['Long', 'Lat', "Stn_Name", "Prov", "Tx", "Tn", "P" ]), axis=1)
clean_Aug

         Long     Lat           Stn_Name Prov    Tx    Tn      P
0    -123.742  48.935          CHEMAINUS   BC  36.0  11.0    5.7
1    -124.052  48.829      LAKE COWICHAN   BC  39.0   5.0    5.8
2    -123.226  48.425   DISCOVERY ISLAND   BC  28.3   9.8    NaN
3    -123.439  48.432  ESQUIMALT HARBOUR   BC  27.4  10.0    5.2
4    -123.530  48.575            MALAHAT   BC  37.0   9.8    5.8
...       ...     ...                ...  ...   ...   ...    ...
1235  -55.848  52.303   MARY'S HARBOUR A   NL  31.8   4.5    0.0
1236  -61.683  56.550               NAIN   NL  30.5   2.9    NaN
1237  -61.682  56.551             NAIN A   NL  26.5   4.6    NaN
1238  -62.586  58.483             SAGLEK   NL  24.7   1.0    NaN
1239  -66.865  52.923           WABUSH A   NL  28.6   1.1  133.2

[1240 rows x 7 columns]

In [6]:
# Queery on clean_Aug for the Maximum temp, Min Temp, and Most precipitation 
# Find Long, Lat, and Stn_name, Prov
max_temp_aug = clean_Aug["Tx"].max()
min_tem_aug =  clean_Aug["Tn"].min()
most_water = clean_Aug["P"].max()
print(f"maximum temprature for Aug-2021: {max_temp_aug} \nminimum temprature for Aug-2021 {min_tem_aug}\nprecipitation: {most_water}" )

maximum temprature for Aug-2021: 40.3
minimum temprature for Aug-2021 -5.3
precipitation: 241.2

In [7]:
# Show the information in details for Aug
warmest_info_aug = clean_Aug.loc[clean_Aug["Tx"] == max_temp_aug]
coldest_info_aug = clean_Aug.loc[clean_Aug["Tn"] == min_tem_aug]
wet_info_aug = clean_Aug.loc[clean_Aug['P'] == most_water]

In [8]:
warmest_info_aug

        Long     Lat    Stn_Name Prov    Tx   Tn     P
158 -121.582  50.224  LYTTON RCS   BC  40.3  9.2  52.9

In [9]:
coldest_info_aug

       Long     Lat    Stn_Name Prov   Tx   Tn     P
384 -91.816  81.161  SVARTEVAEG   NU  8.9 -5.3  19.9

In [10]:
wet_info_aug

        Long    Lat       Stn_Name Prov    Tx   Tn      P
227 -136.367  59.45  PLEASANT CAMP   BC  27.5  5.0  241.2

In [11]:
# Read all the .csv files and extract warmet, coldest, and wetest temprature for the 8 monthes of 2021.
# At this time environment Canada publish the weather data for the first 8 mounths of the year.
# Read and store information on Python lists.  
months= ['Jan', 'Feb', 'March', 'April', 'May', 'Jun', 'July', 'Aug']
max_temp_lsit = []
min_temp_list = []
wet_list = []

for i in months: 
    i = pd.read_csv(str(i)+"-2021.csv")

    max_temp_i = i["Tx"].max()    
    min_temp_i = i["Tn"].min()
    most_water_i = i["P"].max()

    warmest_info_i = i.loc[i["Tx"] == max_temp_i]
    max_temp_lsit.append(warmest_info_i)
    
    coldest_info_i = i.loc[i["Tn"] == min_temp_i]
    min_temp_list.append(coldest_info_i)

    wet_info_i = i.loc[i["P"] == most_water_i]
    wet_list.append(wet_info_i)

In [12]:
# Reshape, Clean, and turn to the DataFrame. 
max_tem_reshape = np.reshape(max_temp_lsit, newshape=(8,25)) # 8 rows for all the months and 25 columns for all the features. 
max_tem_table = pd.DataFrame(max_tem_reshape)
# Clean the data in this order: Long, Lat, Std_name, ID, Prov, Tx, Tn,"How is the weather.pbix
clean_max_table = max_tem_table.drop(max_tem_table.columns.difference([0, 1, 2, 3, 4, 8, 10, 15]), axis = 1)
# insert month clomun for more clarificaiton 
clean_max_table.insert(0, "months", ['Jan', 'Feb', 'March', 'April', 'May', 'Jun', 'July', 'Aug'])
# Store in csv file for visualization on Powr BI
clean_max_table.to_csv("maximum temperature monthly.csv")
clean_max_table

,months,0,1,2,3,4,8,10,15
0,Jan,-76.253,45.032,DRUMMOND CENTRE,6102J13,ON,27.5,-25.5,48.0
1,Feb,-124.655,48.859,NITINAT RIVER HATCHERY,1035612,BC,22.0,-3.5,245.8
2,March,-123.742,48.935,CHEMAINUS,1011500,BC,25.5,0.0,45.0
3,April,-128.705,54.01,KITIMAT 2,1064321,BC,32.0,0.0,159.4
4,May,-116.479,55.396,HIGH PRAIRIE AGDM,3063165,AB,34.4,-4.8,72.6
5,Jun,-121.582,50.224,LYTTON RCS,1114746,BC,49.6,5.3,0.8
6,July,-117.774,49.343,CASTLEGAR BCHPA DAM,1141457,BC,44.0,14.0,1.0
7,Aug,-121.582,50.224,LYTTON RCS,1114746,BC,40.3,9.2,52.9

In [13]:
# Reshape, Clean, and turn to the DataFrame. 
min_tem_reshape = np.reshape(min_temp_list, newshape=(8,25)) # 8 rows for all the months and 25 columns for all the features. 
min_tem_table = pd.DataFrame(min_tem_reshape)
# Clean the data in this order: Long, Lat, Std_name, ID, Prov, Tx, Tn,"How is the weather.pbix
clean_min_table = min_tem_table.drop(min_tem_table.columns.difference([0, 1, 2, 3, 4, 8, 10, 15]), axis = 1)
# insert month clomun for more clarificaiton 
clean_min_table.insert(0, "months", ['Jan', 'Feb', 'March', 'April', 'May', 'Jun', 'July', 'Aug'])
# Store in csv file for visualization on Powr BI
clean_min_table.to_csv("minimum temperature monthly.csv")
clean_min_table

  months        0       1                 2        3   4     8    10    15
0    Jan   -105.6   57.25          KEY LAKE  4063753  SK   0.3 -47.2  24.4
1    Feb -114.077  64.191        WEKWEETI A  2203980  NT -13.8 -52.0   2.9
2  March  -93.433  68.817    SHEPHERD BAY A  2303685  NU -13.6 -50.3   NaN
3  April  -93.433  68.817    SHEPHERD BAY A  2303685  NU  -4.7 -43.5   NaN
4    May -100.267  70.633  GATESHEAD ISLAND  2402332  NU   0.6 -25.8   NaN
5    Jun  -81.243  68.776      HALL BEACH A  2402354  NU  11.7 -12.4  20.1
6   July  -61.383   66.65         CAPE DYER  2400650  NU  16.6  -5.4   NaN
7    Aug  -91.816  81.161        SVARTEVAEG  2403833  NU   8.9  -5.3  19.9

In [14]:
# Reshape, Clean, and turn to the DataFrame. 
wet_reshape = np.reshape(wet_list, newshape=(8,25)) # 8 rows for all the months and 25 columns for all the features. 
wet_table = pd.DataFrame(wet_reshape)
# Clean the data in this order: Long, Lat, Std_name, ID, Prov, Tx, Tn,"How is the weather.pbix
clean_wet_table = wet_table.drop(wet_table.columns.difference([0, 1, 2, 3, 4, 8, 10, 15]), axis = 1)
# insert month clomun for more clarificaiton 
clean_wet_table.insert(0, "months", ['Jan', 'Feb', 'March', 'April', 'May', 'Jun', 'July', 'Aug'])
# Store in csv file for visualization on Powr BI
clean_wet_table.to_csv("Precipitation monthly.csv")
clean_wet_table

,months,0,1,2,3,4,8,10,15
0,Jan,-124.655,48.859,NITINAT RIVER HATCHERY,1035612,BC,12.0,-4.0,626.8
1,Feb,-128.524,52.643,BOAT BLUFF,1060901,BC,9.5,-9.5,550.4
2,March,-128.524,52.643,BOAT BLUFF,1060901,BC,12.0,0.5,648.4
3,April,-128.524,52.643,BOAT BLUFF,1060901,BC,22.0,0.0,492.2
4,May,-128.524,52.643,BOAT BLUFF,1060901,BC,20.5,5.5,232.6
5,Jun,-74.556,46.08,ST-JOVITE,703GDKB,QC,32.3,1.5,244.0
6,July,-65.89,45.316,SAINT JOHN A,8104901,NB,27.1,5.3,217.9
7,Aug,-136.367,59.45,PLEASANT CAMP,1206197,BC,27.5,5.0,241.2