In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
df = pd.read_csv("climate_station_list.csv")
df

                Station Name          Province  Latitude  Longitude
0            (AE) BOW SUMMIT           ALBERTA     51.70    -116.47
1             100 MILE HOUSE  BRITISH COLUMBIA     51.65    -121.30
2             100 MILE HOUSE  BRITISH COLUMBIA     51.65    -121.27
3         100 MILE HOUSE 6NE  BRITISH COLUMBIA     51.68    -121.22
4             108 MILE HOUSE  BRITISH COLUMBIA     51.75    -121.33
...                      ...               ...       ...        ...
8442  ZEBALLOS MURAUDE CREEK  BRITISH COLUMBIA     50.05    -126.78
8443                  ZEHNER      SASKATCHEWAN     50.63    -104.40
8444                   ZELMA      SASKATCHEWAN     51.80    -105.93
8445                   ZHODA          MANITOBA     49.25     -96.52
8446                  ZURICH           ONTARIO     43.40     -81.60

[8447 rows x 4 columns]

In [2]:
#which province has a station 
province = df["Province"].values.ravel()
province_uniq = pd.unique(province)
province_uniq

array(['ALBERTA', 'BRITISH COLUMBIA', 'NEWFOUNDLAND', 'SASKATCHEWAN',
       'QUEBEC', 'NOVA SCOTIA', 'ONTARIO', 'NEW BRUNSWICK',
       'YUKON TERRITORY', 'NORTHWEST TERRITORIES', 'PRINCE EDWARD ISLAND',
       'NUNAVUT', 'MANITOBA'], dtype=object)

In [3]:
# Number of stations in each province 
number_station = df['Province'].value_counts()
number_station

BRITISH COLUMBIA         1735
ONTARIO                  1550
ALBERTA                  1458
QUEBEC                   1017
SASKATCHEWAN              723
MANITOBA                  571
NEWFOUNDLAND              317
NOVA SCOTIA               306
NEW BRUNSWICK             226
NUNAVUT                   186
NORTHWEST TERRITORIES     163
YUKON TERRITORY           140
PRINCE EDWARD ISLAND       55
Name: Province, dtype: int64

In [4]:
number_station.to_csv('station_summery.csv')

In [5]:
Aug =  pd.read_csv("Aug-2021.csv")
Aug

,Long,Lat,Stn_Name,Clim_ID,Prov,Tm,DwTm,D,Tx,DwTx,...,P,DwP,P%N,S_G,Pd,BS,DwBS,BS%,HDD,CDD
0,-123.742,48.935,CHEMAINUS,1011500,BC,20.2,0.0,NaN,36.0,0.0,...,5.7,0.0,NaN,0.0,2.0,NaN,NaN,NaN,10.0,78.6
1,-124.052,48.829,LAKE COWICHAN,1012055,BC,16.4,21.0,-1.7,39.0,14.0,...,5.8,27.0,NaN,NaN,3.0,NaN,NaN,NaN,20.9,4.6
2,-123.226,48.425,DISCOVERY ISLAND,1012475,BC,15.9,0.0,NaN,28.3,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.4,8.5
3,-123.439,48.432,ESQUIMALT HARBOUR,1012710,BC,16.8,0.0,NaN,27.4,0.0,...,5.2,0.0,NaN,NaN,1.0,NaN,NaN,NaN,52.9,14.3
4,-123.530,48.575,MALAHAT,1014820,BC,19.5,0.0,NaN,37.0,0.0,...,5.8,0.0,NaN,NaN,2.0,NaN,NaN,NaN,29.0,75.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1235,-55.848,52.303,MARY'S HARBOUR A,8502592,NL,15.9,0.0,NaN,31.8,0.0,...,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,91.3,27.6
1236,-61.683,56.550,NAIN,8502799,NL,13.2,3.0,NaN,30.5,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139.5,5.9
1237,-61.682,56.551,NAIN A,8502810,NL,12.4,3.0,NaN,26.5,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156.9,0.9
1238,-62.586,58.483,SAGLEK,8503249,NL,10.6,18.0,NaN,24.7,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.1,1.2
1239,-66.865,52.923,WABUSH A,8504177,NL,14.9,1.0,NaN,28.6,1.0,...,133.2,3.0,NaN,NaN,15.0,NaN,NaN,NaN,107.6,13.5

In [8]:
# drop unnecessary columns some of them weired to me! Need to more about Meteorology. 
# keep Long, Lat, Stn_name, Prov,Tx as maximum tempreture Tn Min tempreture, and P as precipitation rate.
clean_Aug = Aug.drop(df.columns.difference(['Long', 'Lat', "Stn_Name", "Prov", "Tx", "Tn", "P" ]), axis=1)
clean_Aug

KeyError: "['Latitude' 'Longitude' 'Province' 'Station Name'] not found in axis"

In [62]:
# Queery on clean_Aug for the Maximum temp, Min Temp, and Most precipitation 
# Find Long, Lat, and Stn_name, Prov
max_temp_aug = clean_Aug["Tx"].max()
min_tem_aug =  clean_Aug["Tn"].min()
most_water = clean_Aug["P"].max()

In [156]:
# Show the information in details for Aug
warmest_info_aug = clean_Aug.loc[clean_Aug["Tx"] == max_temp_aug]
coldest_info_aug = clean_Aug.loc[clean_Aug["Tn"] == min_tem_aug]
wet_info_aug = clean_Aug.loc[clean_Aug['P'] == most_water]

In [16]:
# Read all the .csv files and extract warmet, coldest, and wetest temprature for the 8 monthes of 2021 
months= ['Jan', 'Feb', 'March', 'April', 'May', 'Jun', 'July', 'Aug']
max_temp_lsit = []
min_tem_list = []
wet_list = []
for i in months: 
    i = pd.read_csv(str(i)+"-2021.csv")
    
    max_temp_i = i["Tx"].max()    
    min_temp_i = i["Tn"].min()
    most_water_i = i["P"].max()

    warmest_info_i = i.loc[i["Tx"] == max_temp_i]
    max_temp_lsit.append(warmest_info_i)
    
    coldest_info_i = i.loc[i["Tn"] == min_temp_i]
    min_tem_list.append(coldest_info_i)

    wet_info_i = i.loc[i["P"] == most_water_i]
    wet_list.append(wet_info_i)

In [17]:
max_temp_lsit[7]

,Long,Lat,Stn_Name,Clim_ID,Prov,Tm,DwTm,D,Tx,DwTx,...,P,DwP,P%N,S_G,Pd,BS,DwBS,BS%,HDD,CDD
158,-121.582,50.224,LYTTON RCS,1114746,BC,22.1,0.0,NaN,40.3,0.0,...,52.9,0.0,NaN,NaN,8.0,NaN,NaN,NaN,11.7,138.5

In [18]:
# Augest warmets record 
min_tem_list[7]

,Long,Lat,Stn_Name,Clim_ID,Prov,Tm,DwTm,D,Tx,DwTx,...,P,DwP,P%N,S_G,Pd,BS,DwBS,BS%,HDD,CDD
384,-91.816,81.161,SVARTEVAEG,2403833,NU,0.8,2.0,NaN,8.9,2.0,...,19.9,2.0,NaN,22.0,5.0,NaN,NaN,NaN,498.4,0.0

In [19]:
# Augest coldest record 
min_tem_list[7]['Tn']

384   -5.3
Name: Tn, dtype: float64

In [20]:
# Augest wetest record 
wet_list[7]

,Long,Lat,Stn_Name,Clim_ID,Prov,Tm,DwTm,D,Tx,DwTx,...,P,DwP,P%N,S_G,Pd,BS,DwBS,BS%,HDD,CDD
227,-136.367,59.45,PLEASANT CAMP,1206197,BC,13.3,3.0,-0.1,27.5,3.0,...,241.2,3.0,NaN,0.0,19.0,NaN,NaN,NaN,133.3,1.0

In [21]:
minimum_temps = []
for i in range (len(months)):
    minimum_temps.append(min_tem_list[i]["Tn"]) 
    minimum_temps.append(min_tem_list[i]["Long"]) 
    minimum_temps.append(min_tem_list[i]["Lat"]) 
minimum_temps

[717   -47.2
 Name: Tn, dtype: float64,
 717   -105.6
 Name: Long, dtype: float64,
 717    57.25
 Name: Lat, dtype: float64,
 311   -52.0
 Name: Tn, dtype: float64,
 311   -114.077
 Name: Long, dtype: float64,
 311    64.191
 Name: Lat, dtype: float64,
 343   -50.3
 Name: Tn, dtype: float64,
 343   -93.433
 Name: Long, dtype: float64,
 343    68.817
 Name: Lat, dtype: float64,
 344   -43.5
 Name: Tn, dtype: float64,
 344   -93.433
 Name: Long, dtype: float64,
 344    68.817
 Name: Lat, dtype: float64,
 366   -25.8
 Name: Tn, dtype: float64,
 366   -100.267
 Name: Long, dtype: float64,
 366    70.633
 Name: Lat, dtype: float64,
 364   -12.4
 Name: Tn, dtype: float64,
 364   -81.243
 Name: Long, dtype: float64,
 364    68.776
 Name: Lat, dtype: float64,
 350   -5.4
 Name: Tn, dtype: float64,
 350   -61.383
 Name: Long, dtype: float64,
 350    66.65
 Name: Lat, dtype: float64,
 384   -5.3
 Name: Tn, dtype: float64,
 384   -91.816
 Name: Long, dtype: float64,
 384    81.161
 Name: Lat, dtype: float64]

In [22]:
maximum_temps = []
for i in range (len(months)):
    maximum_temps.append( max_temp_lsit[i]["Tx"]) 
    maximum_temps.append( max_temp_lsit[i]["Long"]) 
    maximum_temps.append( max_temp_lsit[i]["Lat"]) 
maximum_temps

[885    27.5
 Name: Tx, dtype: float64,
 885   -76.253
 Name: Long, dtype: float64,
 885    45.032
 Name: Lat, dtype: float64,
 49    22.0
 Name: Tx, dtype: float64,
 49   -124.655
 Name: Long, dtype: float64,
 49    48.859
 Name: Lat, dtype: float64,
 0    25.5
 Name: Tx, dtype: float64,
 0   -123.742
 Name: Long, dtype: float64,
 0    48.935
 Name: Lat, dtype: float64,
 96    32.0
 Name: Tx, dtype: float64,
 96   -128.705
 Name: Long, dtype: float64,
 96    54.01
 Name: Lat, dtype: float64,
 609    34.4
 Name: Tx, dtype: float64,
 609   -116.479
 Name: Long, dtype: float64,
 609    55.396
 Name: Lat, dtype: float64,
 160    49.6
 Name: Tx, dtype: float64,
 160   -121.582
 Name: Long, dtype: float64,
 160    50.224
 Name: Lat, dtype: float64,
 178    44.0
 Name: Tx, dtype: float64,
 178   -117.774
 Name: Long, dtype: float64,
 178    49.343
 Name: Lat, dtype: float64,
 158    40.3
 Name: Tx, dtype: float64,
 158   -121.582
 Name: Long, dtype: float64,
 158    50.224
 Name: Lat, dtype: float64]

In [231]:
wets = []
for i in range (len(months)):
    wets.append( wet_list[i]["P"]) 
    wets.append( wet_list[i]["Long"]) 
    wets.append( wet_list[i]["Lat"]) 
wets

[48    626.8
 Name: P, dtype: float64,
 48   -124.655
 Name: Long, dtype: float64,
 48    48.859
 Name: Lat, dtype: float64,
 85    550.4
 Name: P, dtype: float64,
 85   -128.524
 Name: Long, dtype: float64,
 85    52.643
 Name: Lat, dtype: float64,
 84    648.4
 Name: P, dtype: float64,
 84   -128.524
 Name: Long, dtype: float64,
 84    52.643
 Name: Lat, dtype: float64,
 82    492.2
 Name: P, dtype: float64,
 82   -128.524
 Name: Long, dtype: float64,
 82    52.643
 Name: Lat, dtype: float64,
 81    232.6
 Name: P, dtype: float64,
 81   -128.524
 Name: Long, dtype: float64,
 81    52.643
 Name: Lat, dtype: float64,
 1088    244.0
 Name: P, dtype: float64,
 1088   -74.556
 Name: Long, dtype: float64,
 1088    46.08
 Name: Lat, dtype: float64,
 1213    217.9
 Name: P, dtype: float64,
 1213   -65.89
 Name: Long, dtype: float64,
 1213    45.316
 Name: Lat, dtype: float64,
 227    241.2
 Name: P, dtype: float64,
 227   -136.367
 Name: Long, dtype: float64,
 227    59.45
 Name: Lat, dtype: float64]